"*":
  core:
    autoHideMenuBar: true
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 200
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "6b434789-37d1-3123-62d3-04a6e874413f"
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
