'atom-workspace atom-text-editor:not([mini])':
  'ctrl-d': 'editor:duplicate-lines'
  'ctrl-shift-d': 'editor:delete-line'
  'ctrl-/': 'editor:toggle-line-comments'
  'ctrl-a': 'editor:move-to-beginning-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-shift-a': 'core:select-all'
